/* CSS Document*/


body{
    background-color: rgb( 232, 247, 255) !important;
    
}

h1 {
    color: rgb(69, 92, 122);
    font-size: 3em;
    text-align: center;
}
h1.Title{
    background-color: rgb(255,255,255);

}
h2 {
    color: rgb(100, 104, 110);
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
    padding: 1em 0em .25em 0em;
    
}
h3{
    color: rgb(186, 152, 104);
    font-size: 1.5em;
}
h3.Appetizers{
    background-color: rgb(255,255,255);
    padding: .5em
}
h3.Salads{
     background-color: rgb(255,255,255);
    padding: .5em
}
h3.Entrees{
     background-color: rgb(255,255,255);
    padding: .5em
}
h3.Dessert{
     background-color: rgb(255,255,255);
    padding: .5em
}
h4{
    color: rgb(69, 92, 122); 
    font-family: sans-serif;
    
}
ul{
    color: rgb(100,104,110);
}

p{
    color: rgb(100, 104, 110);
    font-family: sans-serif;
    }
    
.price{
    color: rgb(186, 152, 104)
}
]

